<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iscas.smurfs.dbservice.mapper.BaseMapper">
  <resultMap id="BaseResultMap" type="com.iscas.smurfs.dbservice.entity.Base">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="area" jdbcType="INTEGER" property="area" />
    <result column="soldier_num" jdbcType="BIGINT" property="soldierNum" />
    <result column="civilian_num" jdbcType="BIGINT" property="civilianNum" />
    <result column="familymember_num" jdbcType="BIGINT" property="familymemberNum" />
    <result column="longitude" jdbcType="INTEGER" property="longitude" />
    <result column="latitude" jdbcType="INTEGER" property="latitude" />
    <result column="dataaircraft" jdbcType="VARCHAR" property="dataaircraft" />
    <result column="datasatellite" jdbcType="VARCHAR" property="datasatellite" />
    <result column="mygroup" jdbcType="VARCHAR" property="mygroup" />
    <result column="facility" jdbcType="VARCHAR" property="facility" />
  </resultMap>
</mapper>