<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iscas.smurfs.dbservice.mapper.DatasatelliteMapper">
  <resultMap id="BaseResultMap" type="com.iscas.smurfs.dbservice.entity.Datasatellite">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="Category" jdbcType="VARCHAR" property="category" />
    <result column="Type" jdbcType="VARCHAR" property="type" />
    <result column="YearCommissioned" jdbcType="INTEGER" property="yearcommissioned" />
    <result column="Length" jdbcType="DOUBLE" property="length" />
    <result column="Span" jdbcType="DOUBLE" property="span" />
    <result column="Height" jdbcType="DOUBLE" property="height" />
    <result column="WeightEmpty" jdbcType="INTEGER" property="weightempty" />
    <result column="WeightMax" jdbcType="INTEGER" property="weightmax" />
    <result column="WeightPayload" jdbcType="INTEGER" property="weightpayload" />
    <result column="Armor" jdbcType="INTEGER" property="armor" />
    <result column="DamagePoints" jdbcType="INTEGER" property="damagepoints" />
    <result column="Cost" jdbcType="INTEGER" property="cost" />
    <result column="fund_id" jdbcType="VARCHAR" property="fundId" />
    <result column="base_id" jdbcType="VARCHAR" property="baseId" />
    <result column="group_id" jdbcType="VARCHAR" property="groupId" />
    <result column="Name" jdbcType="LONGVARCHAR" property="name" />
  </resultMap>
</mapper>