<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iscas.smurfs.dbservice.mapper.FundMapper">
  <resultMap id="BaseResultMap" type="com.iscas.smurfs.dbservice.entity.Fund">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="is_vip" jdbcType="VARCHAR" property="isVip" />
    <result column="is_budget" jdbcType="VARCHAR" property="isBudget" />
    <result column="dataaircraft" jdbcType="VARCHAR" property="dataaircraft" />
    <result column="datasatellite" jdbcType="VARCHAR" property="datasatellite" />
    <result column="facility" jdbcType="VARCHAR" property="facility" />
  </resultMap>
</mapper>