<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iscas.smurfs.dbservice.mapper.GroupMapper">
  <resultMap id="BaseResultMap" type="com.iscas.smurfs.dbservice.entity.Group">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="user_num" jdbcType="INTEGER" property="userNum" />
    <result column="bugdet" jdbcType="INTEGER" property="bugdet" />
    <result column="equip" jdbcType="VARCHAR" property="equip" />
    <result column="base_id" jdbcType="VARCHAR" property="baseId" />
    <result column="dataaircraft" jdbcType="VARCHAR" property="dataaircraft" />
    <result column="datasatellite" jdbcType="VARCHAR" property="datasatellite" />
    <result column="user" jdbcType="VARCHAR" property="user" />
  </resultMap>
</mapper>